* {
  font-size: 100%;
  font-family: Verdana, sans-serif;;
 }
 /* The sidebar menu */
 .sidenav {
   height: 100%; /* Full-height: remove this if you want "auto" height */
   width: 130px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: rgb(85, 98, 108); 
   overflow-x: hidden; /* Disable horizontal scroll */
 
   font-family: "Verdana";
   color: white;
 }
 
 /* The navigation menu links */
 .sidenav a {
 
   text-decoration: none;
   color: white;
   display: block;
 }
 
 .sidenav h1 {
   padding-top: 6px;
 }
 
 .sidenav h2 {
   padding-left: 20px;
 
 }
 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
   color: #111;
 }
 
 /* Style page content */
 .header {
   margin-top: 30px;
   margin-left: 130px; /* Same as the width of the sidebar */
 }
 .main {
   margin-top: 30px;
   margin-left: 130px; /* Same as the width of the sidebar */
 }
 
 /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
 @media screen {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
   table {width: 100%;}
 }

 #SetMain {
 margin-top: 30px;
 margin-left: 130px; /* Same as the width of the sidebar */
 }

#navigationPane {
  align-items: center;
}

#handPane {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  border: 1px solid #ccc;
  padding: 10px;
  background-color: beige;
}

.shownCards {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; 
  border: 1px solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5%;
  width: fit-content;
  max-height: max-content;
  background-color: rgb(255, 255, 255);
}

.shapeGroup {
  display: flex;
}

.shape {
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  background-color: rgb(115, 249, 186);
  width: 30%;
  border: 2px solid #ccc;
}